
<div class="row justify-content-end ">
  <ul class="pagination pagination-sm justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in 1..messages|length//25+1 %}
        {% if i == count %}
           <li class="page-item active" aria-current="page">
               <span class="page-link">{{i}}
                   <span class="sr-only">(current)</span>
               </span>
          </li>
        {% else %}
            <li class="page-item">
                <a href="{{url('indexRoute', {'sortflag':sortflag, 'count':i})}}" class="page-link" >{{i}}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% set start = count*25 - 25 %}
    {% set length = start + 25 %}
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    </ul>
</div>

{% set imgArrowUp='\\build\\images\\double-up.png' %}
{% set imgArrowDown='\\build\\images\\double-down.png' %}

<div class="row justify-content-end">
    {% if sortflag is same as ('ByNameAsc') %}
        {% set sortNameflag="ByNameDesc" %}
        {% set imgName=imgArrowUp %}
    {% elseif  sortflag is same as ('ByNameDesc')%}
        {% set sortNameflag="ByNameAsc" %}
        {% set imgName=imgArrowDown %}
    {% else %}
        {% set sortNameflag="ByNameAsc" %}
        {% set imgName=''%}
    {% endif %}
    <div class="title-message-fields badge badge-primary mx-1">
        <a href = "{{ url('indexRoute', {'sortflag':sortNameflag, 'count':1})}} ">
            {{'sorting.name'|trans({},'messages')|raw}}
        </a>
        {% if imgName %}
            <div class="arrows-title-message badge badge-light">
                <img src = "{{ asset(imgName) }}" width="10" height="10">
            </div>
        {% endif %}
    </div>

    {% if sortflag is same as ('ByEmailAsc') %}
        {% set sortEmailflag="ByEmailDesc" %}
        {% set imgEmail=imgArrowUp %}
    {% elseif  sortflag is same as ('ByEmailDesc')%}
        {% set sortEmailflag="ByEmailAsc" %}
        {% set imgEmail=imgArrowDown %}
    {% else %}
        {% set sortEmailflag="ByEmailAsc" %}
        {% set imgEmail=''%}
    {% endif %}
    <div class="title-message-fields badge badge-primary mx-1">
        <a href = "{{url('indexRoute', {'sortflag':sortEmailflag, 'count':1})}}">
            {{'sorting.email'|trans({},'messages')|raw}}
        </a>
        {% if imgEmail %}
            <div class="arrows-title-message badge badge-light">
                <img src = "{{ asset(imgEmail) }}" width="10" height="10">
            </div>
        {% endif %}
    </div>
  {% if sortflag is same as ('ByDateAsc') %}
        {% set sortDateflag="ByDateDesc" %}
        {% set imgDate=imgArrowUp %}
    {% elseif  sortflag is same as ('ByDateDesc')%}
        {% set sortDateflag="ByDateAsc" %}
        {% set imgDate=imgArrowDown %}
    {% else %}
        {% set sortDateflag="ByDateAsc" %}
        {% set imgDate=''%}
    {% endif %}
    <div class="title-message-fields badge badge-primary mx-1">
        <a href = "{{url('indexRoute', {'sortflag':sortDateflag, 'count':1})}}">
            {{'sorting.date'|trans({},'messages')|raw}}
        </a>
        {% if imgDate %}
            <div class="arrows-title-message badge badge-light">
                <img src = "{{ asset(imgDate) }}" width="10" height="10">
            </div>
        {% endif %}
    </div>
</div>

    {% for message in messages|usort(sortflag)|slice(start, length) %}
        <div class="row justify-content-between mt-3">
            <div class="col-7 text-dark">
                {{message.theme|upper}}
            </div>
            <div class="col-5 text-dark text-right">
                {{message.user.getName()}}
                &nbsp;&brvbar;&nbsp;
                {{message.user.getEmail()}}
                &nbsp;&brvbar;&nbsp;
                {{message.date.format( 'Y-m-d H:i:s')}}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-justify font-weight-normal text-secondary my-1">{{message.text|raw}}</p>
            </div>
        </div>
            {% if message.pictures or message.filepath %}
            <div class="row">
                <div class="col">
                    {% if message.pictures %}
                        <a href="{{ asset ('/upload/img/' ~ message.pictures)}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
                            <img src="{{ asset ('/upload/img/small/' ~ message.pictures)}}" class="img-fluid">
                        </a>
                    {% endif %}
                    {% if message.filepath %}
                        <a href=" {{ asset('/upload/txt/' ~ message.filepath) }}" type="application/file"
                           class="text-dark bg-light text-decoration-none">{{ message.filepath }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

    {% endfor %}

<div class="row justify-content-end ">
  <ul class="pagination pagination-sm justify-content-end">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in 1..messages|length//25+1 %}
        {% if i == count %}
           <li class="page-item active" aria-current="page">
               <span class="page-link">{{i}}
                   <span class="sr-only">(current)</span>
               </span>
          </li>
        {% else %}
            <li class="page-item">
                <a href="{{url('indexRoute', {'sortflag':sortflag, 'count':i})}}" class="page-link" >{{i}}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% set start = count*25 - 25 %}
    {% set length = start + 25 %}
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    </ul>
</div>
