<div class="title-message">
    {% if sortflag is same as ('ByNameAsc') %}
        {% set sortNameflag="ByNameDesc" %}
        {% set imgName='\\images\\double-up.png' %}
    {% elseif  sortflag is same as ('ByNameDesc')%}
        {% set sortNameflag="ByNameAsc" %}
        {% set imgName='\\images\\double-down.png' %}
    {% else %}
        {% set sortNameflag="ByNameAsc" %}
        {% set imgName=''%}
    {% endif %}
    <div class="title-message-fields">
        <a href = "{{url('sortingRoute', {'sortflag':sortNameflag, 'count':1})}}">Имя</a>
    </div>
    <div class="arrows-title-message">
        <div><img src = "{{ asset(imgName) }}" width="10" height="10"></div>
    </div>

    {% if sortflag is same as ('ByEmailAsc') %}
        {% set sortEmailflag="ByEmailDesc" %}
        {% set imgEmail='\\images\\double-up.png' %}
    {% elseif  sortflag is same as ('ByEmailDesc')%}
        {% set sortEmailflag="ByEmailAsc" %}
        {% set imgEmail='\\images\\double-down.png' %}
    {% else %}
        {% set sortEmailflag="ByEmailAsc" %}
        {% set imgEmail=''%}
    {% endif %}
    <div class="title-message-fields">
        <a href = "{{url('sortingRoute', {'sortflag':sortEmailflag, 'count':1})}}">Email</a>
    </div>
    <div class="arrows-title-message">
      <div><img src = "{{ asset(imgEmail) }}" width="10" height="10"></div>
    </div>

    {% if sortflag is same as ('ByDateAsc') %}
        {% set sortDateflag="ByDateDesc" %}
        {% set imgDate='\\images\\double-up.png' %}
    {% elseif  sortflag is same as ('ByDateDesc')%}
        {% set sortDateflag="ByDateAsc" %}
        {% set imgDate='\\images\\double-down.png' %}
    {% else %}
        {% set sortDateflag="ByDateAsc" %}
        {% set imgDate=''%}
    {% endif %}
    <div class="title-message-fields">
        <a href = "{{url('sortingRoute', {'sortflag':sortDateflag, 'count':1})}}">Дата добавления</a>
    </div>
    <div class="arrows-title-message">
      <div> <img src = "{{ asset(imgDate) }}" width="10" height="10"> </div>
    </div>
</div>
<div class="title-message">
    {% for i in 1..messages|length//25+1 %}
        {% if i == count %}
            <div class="count-messages-active">
        {% else %}
            <div class="count-messages">
        {% endif %}
        <a href="{{url('sortingRoute', {'sortflag':sortflag, 'count':i})}}" style="color:unset; text-decoration:none;">{{i}}</a>&nbsp;&nbsp;
        </div>
    {% endfor %}
    {% set start = count*25 - 24 %}
    {% set length = start + 25 %}
</div>
<div id="messages">
    {% for message in messages|usort(sortflag)|slice(start, length) %}
        <div class="box-message">
            <div class="title-message">
                <div>{{message.theme|upper}}</div>
                <div class="title-message-fields" style="margin-left: auto;">
                    {{message.user.getName()}}
                </div>&nbsp;&brvbar;&nbsp;
                <div class="title-message-fields">
                    {{message.user.getEmail()}}
                </div>&nbsp;&brvbar;&nbsp;
                <div class="title-message-fields">
                    {{message.date.format( 'Y-m-d H:i:s')}}
                </div>
            </div>
        </div>
        <div class="text-message">
            <p>{{message.text|raw}}</p>
            {% if message.pictures or message.filepath %}
                <p style="padding: 2px; margin: 0px;">
                    {% if message.pictures %}
                        <a href="upload/img/{{message.pictures}}" class="example-image-link" data-lightbox="image-1">
                            <img class="example-image" src="upload/img/small/{{message.pictures}}"
                                alt="{{message.pictures}}" />
                        </a>&nbsp;&nbsp;
                    {% endif %}
                    {% if message.filepath %}
                        <a href=" {{ message.filepath }}" type="application/file"
                           style="text-decoration: none;">{{ message.filepath }}</a>
                    {% endif %}
                </p>
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="title-message">
    {% for i in 1..messages|length//25+1 %}
        {% if i == count %}
            <div class="count-messages-active">
        {% else %}
            <div class="count-messages">
        {% endif %}
        <a href="{{url('sortingRoute', {'sortflag':sortDateflag, 'count':i})}}" style="color:unset; text-decoration:none;">{{i}}</a>&nbsp;&nbsp;
        </div>
    {% endfor %}
    {% set start = count*25 - 24 %}
    {% set length = start + 25 %}
</div>
