<div class="container" id="content">
    <div class="row justify-content-end">
        <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item">
                {% if count == 1 %}
                    <a class="page-link" aria-label="Previous" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': 1})}}" >
                {% else %}
                    <a class="page-link" aria-label="Previous" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count - 1})}}" >
                {% endif %}
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..messages|length//25+1 %}
                {% if i == count %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{i}}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count':i})}}" class="page-link" >{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% set start = count*25 - 25 %}
            {% set length = start + 25 %}
            <li class="page-item">
                {% if count == length//25 %}
                    <a class="page-link" aria-label="Next" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count})}}" >
                {% else %}
                    <a class="page-link" aria-label="Next" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count + 1})}}" >
                {% endif %}
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>

   {% set imgArrowUp='\\build\\images\\double-up.png' %}
   {% set imgArrowDown='\\build\\images\\double-down.png' %}

   <div class="row justify-content-end">
       {% if sortflag is same as ('ByUsernameAsc') %}
           {% set sortUsernameflag="ByUsernameDesc" %}
           {% set imgUsername=imgArrowUp %}
       {% elseif  sortflag is same as ('ByUsernameDesc')%}
           {% set sortUsernameflag="ByUsernameAsc" %}
           {% set imgUsername=imgArrowDown %}
       {% else %}
           {% set sortUsernameflag="ByUsernameAsc" %}
           {% set imgUsername=''%}
       {% endif %}
       <div class="title-message-fields badge badge-light mx-1">
           <a href = "{{ url('index', {'_fragment':'content', 'sortflag':sortUsernameflag, 'count':1})}} ">
               {{'sorting.username'|trans({},'messages')|raw}}
           </a>
           {% if imgUsername %}
               <div class="arrows-title-message badge badge-light">
                   <img src = "{{ asset(imgUsername) }}" width="10" height="10">
               </div>
           {% endif %}
       </div>

       {% if sortflag is same as ('ByEmailAsc') %}
           {% set sortEmailflag="ByEmailDesc" %}
           {% set imgEmail=imgArrowUp %}
       {% elseif  sortflag is same as ('ByEmailDesc')%}
           {% set sortEmailflag="ByEmailAsc" %}
           {% set imgEmail=imgArrowDown %}
       {% else %}
           {% set sortEmailflag="ByEmailAsc" %}
           {% set imgEmail=''%}
       {% endif %}
       <div class="title-message-fields badge badge-light mx-1">
           <a href = "{{url('index', {'_fragment':'content','sortflag':sortEmailflag, 'count':1})}}">
               {{'sorting.email'|trans({},'messages')|raw}}
           </a>
           {% if imgEmail %}
               <div class="arrows-title-message badge badge-light">
                   <img src = "{{ asset(imgEmail) }}" width="10" height="10">
               </div>
           {% endif %}
        </div>
        {% if sortflag is same as ('ByDateAsc') %}
           {% set sortDateflag="ByDateDesc" %}
           {% set imgDate=imgArrowUp %}
        {% elseif  sortflag is same as ('ByDateDesc')%}
           {% set sortDateflag="ByDateAsc" %}
           {% set imgDate=imgArrowDown %}
        {% else %}
           {% set sortDateflag="ByDateAsc" %}
           {% set imgDate=''%}
        {% endif %}
        <div class="title-message-fields badge badge-light mx-1">
           <a href = "{{url('index', {'_fragment':'content','sortflag':sortDateflag, 'count':1})}}">
               {{'sorting.date'|trans({},'messages')|raw}}
           </a>
           {% if imgDate %}
               <div class="arrows-title-message badge badge-light">
                   <img src = "{{ asset(imgDate) }}" width="10" height="10">
               </div>
           {% endif %}
        </div>
    </div>

    {% for message in messages|usort(sortflag)|slice(start, length) %}
        <form method="post" action="{{url('admin-action')}}">
            <input type="hidden" name="message{{message[0].id}}" value="{{message[0].id}}">
            <div class="card border-secondary mb-3">
                <div class="card-header bg-transparent border-secondary mb-3 text-secondary">
                    {{message[0].user.getUsername()}}
                    &nbsp;&brvbar;&nbsp;
                    {{message[0].user.getEmail()}}
                    &nbsp;&brvbar;&nbsp;
                    {{message[0].date.format( 'Y-m-d H:i:s')}}
                </div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">{{message[0].theme|upper}}</h5>
                    <p class="card-text">{{message[0].text|raw}}</p>

                    {% if message[0].pictures or message[0].filepath %}
                        {% if message[0].pictures %}
                            <a href="{{ asset ('/upload/img/' ~ message[0].pictures)}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image">
                                <img src="{{ asset ('/upload/img/small/' ~ message[0].pictures)}}" class="img-fluid">
                            </a>
                        {% endif %}
                        {% if message[0].filepath %}
                            <a href=" {{ asset('/upload/txt/' ~ message[0].filepath) }}" type="application/file"
                                class="text-dark bg-light text-decoration-none">{{ message[0].filepath }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-footer bg-transparent border-secondary">
                    <button type="submit" class="btn-primary btn pull-right">Добавить аннотацию</button>
                    <a href="{{url('admin', {'action':'addannotation'})}}" class="btn btn-primary">Редактировать</a>
                    <a href="#" class="btn btn-primary">Удалить</a>
                </div>
            </div>
            {% for annotation in message[1] %}
                <div class="card border-secondary mb-3">
                    <div class="card-header">
                        {{annotation.user.getUsername()}}
                        &nbsp;&brvbar;&nbsp;
                        {{annotation.user.getEmail()}}
                        &nbsp;&brvbar;&nbsp;
                        {{annotation.date.format( 'Y-m-d H:i:s')}}
                    </div>
                    <div class="card-body text-primary">
                        <h5 class="card-title">{{annotation.theme|upper}}</h5>
                        <p class="card-text">{{annotation.text|raw}}</p>
                    </div>
                </div>
            {% endfor %}
        </form>
    {% endfor %}

    <div class="row justify-content-end">
        <ul class="pagination pagination-sm justify-content-end">
            <li class="page-item">
                {% if count == 1 %}
                    <a class="page-link" aria-label="Previous" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': 1})}}" >
                {% else %}
                    <a class="page-link" aria-label="Previous" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count - 1})}}" >
                {% endif %}
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for i in 1..messages|length//25+1 %}
                {% if i == count %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{i}}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count':i})}}" class="page-link" >{{i}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% set start = count*25 - 25 %}
            {% set length = start + 25 %}
            <li class="page-item">
                {% if count == length//25 %}
                    <a class="page-link" aria-label="Next" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count})}}" >
                {% else %}
                    <a class="page-link" aria-label="Next" href="{{url('index', {'_fragment':'content','sortflag':sortflag, 'count': count + 1})}}" >
                {% endif %}
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
